body {
  max-width: 1024px;
  padding: 0;
  color: #6b6b6b;
  margin: 0 auto;
  
}

.icon {
  background-image: url(/images/m-solid.svg);
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 15px;
  background-repeat: no-repeat;
  
}

p{
  color: #999;
}

a {
  text-decoration: none;
  color: #6b6b6b;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.leftheader {
  display: flex;
}

.rightheader {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  margin-right: 10px;
}

.trigram {
display: none;

}

.aboutus {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  margin: 40px auto;
}

.aboutus > h1, p{
  text-align: center; 
  margin: 0px;
}

.aboutus > h1{
  font-size: 4rem;

}

.threecards {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
  
}

.threecards p {
  text-align: left;
  margin-left: 10px;
}



.title {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 10px auto;
  color:#282828;
}

.picture1 img { 
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.picture2  img{
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.picture3 img{
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.ourteam {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.ourteam > h2, p{
  text-align: center; 
}

.firsticon {
  margin-top: 20px;
}


.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
  
}


.icon-name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: 10px; 
}

.icons img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 1px rgb(46, 41, 41);

}

.social-icons {
  display: flex;
  margin-top: 5px;
 
}



footer {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
  background: #282828;
  padding: 50px 50px;

}


.social-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.social-section > span {
  color: #777;
}

img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: #777;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
}

.address {
  display: flex;
  flex-direction: column;
}

.address > p {
  margin: 0px;
  color: #777;
}

.email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.email > p {
  margin: 0px;
  color: #777;
}

.phone {
  display: flex;
  flex-direction: column;
}

.phone > p {
  margin: 0px;
  color: #777;
}

.heading {
  color: white;
}

hr {
  height: 1px;
  background-color:black ;
  border: none;

}


.final-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-size: 14px;
}

.final-footer > p {
  margin: 0px;
}

#loom-companion-mv3 {
  display: none;
}

#shadow-host-companion {
  display: none;
}

@media (max-width: 1023px) {

  .threecards {
    display: flex;
    flex-wrap: wrap;
      
  }
  
  .rightcard {
    display: flex;
   

  }

  .middlecard {
    display: flex;
    
  }

  .leftcard {

    display: flex;
    
  }


.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.icons img {
  width: 250px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 0 1px rgb(46, 41, 41);

}


}

@media (max-width: 767px) {

  .threecards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
  
}

.threecards p {
  text-align: left;
  margin-left: 10px;
}

.leftcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  

}

.middlecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

.rightcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-section span {
  display: none;
}

.social-section img {
  width: 50px;
  height: 50px;
}

.rightheader div {
    display: none;
  }

.trigram {
  display: block;
       }

}


